[Unit]
Description=wyrequin

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=python3 /opt/wyrequin/wyrequin.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target